<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--indicate that all strafic the URL paths beginning with 'socket.io' should be 
    redirected to the server-socketio.js node.js application to avoid IIS attempting to 
    serve that content using other handlers (e.g. static file handlers)
    -->

    <rewrite>
         <rules>
	      <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                  <match url="(.*)" />
                  <action type="Rewrite" url="http://181.39.12.146:3000/{R:1}" />
              </rule>
         </rules>
    </rewrite>    
  </system.webServer>
</configuration>